
body{
    /*background-image: url('../img/cupcakes-1081963_1920.jpg');
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;*/
    
    background-image: url('../img/cupcakes-1081963_1920.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.main-content-container {
    color: white;
    padding-top:5%

}

.glass-home {
    z-index: -1;
    background-image: url('../img/cupcakes-1081963_1920.jpg');
    position: absolute; 
    background-color: white;
    -webkit-filter: blur(5px);
    filter:blur(5px);
    height: 30%;
    width: 100%;
}
.glass-search {
    z-index: -1;
    background-image: url('../img/cupcakes-1081963_1920.jpg');
    position: absolute; 
    background-color: white;
    -webkit-filter: blur(5px);
    filter:blur(5px);
    height: 70%;
    width: 100%;
}

.glass-all {
    z-index: -1;
    background-image: url('../img/cupcakes-1081963_1920.jpg');
    position: absolute; 
    background-color: white;
    -webkit-filter: blur(5px);
    filter:blur(5px);
    height: 100%;
    width: 100%;
} 
    
.content{
    color : black;
    z-index: 100;
    padding: 20px;
    /*background: rgba(34,34,34,0.75);*/
    background-color: rgba(245, 245, 245, 0.6);  
}

.img-circle{
    background-color:rgba(34,34,34,0.75);
}



.fixed-panel{
    max-height:300px;
    overflow-y:auto;
}

.top-buffer {
    margin-top:40px;
}

.row-buffer {
    margin-top:10px;
}

.btn{
    background-color: rgb(141, 44, 61)!important;
    border: none;
}

